@import 'scss/variables.scss';

.landing {
  background-color: black;
  color: $primary;
}


.header-wrapper {
  overflow: hidden;
  padding: 5em 0em;
  background: #8DCB89;
}

.session {
	margin: 0px auto;
	width: 1200px;
}

.topnav {
  background-color: #fff;
}