@import 'scss/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.header-wrapper {
  padding: $space-xxl 0;
  margin-left: -$space-m;
  margin-right: -$space-m;
  background: $blue000;
}

.topnav {
    padding: 8px;
    background-color: #fff;
}

.logo-big {
    @media only screen and (max-width: 540px) {
        display: none;
    }
}

.logo-small {
    @media only screen and (min-width: 540px) {
        display: none;
    }
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
