$blue500: #304FFE;
$blue000: #EDF2FF;
$blue400: #406FFC;
$red100: #FCCF02;
$red000: #FFEBEC;
$red500: #DA1E28;
$cyan800: #002850;

$primary: #304FFE;
$secondary: #DA1E28;

$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
